---

//  ------------------------------------------------------------------
//  ----------  /01/curso-astro-demo/src/pages/about.astro  ----------
//  ------------------------------------------------------------------


import Layout from "@/layouts/Layout.astro";
---

<Layout title="🚀 About The Project 🚀">
    <h1 class="text-4xl text-center text-myWhite"> About - 🚀 proyect is a Demo 🚀 </h1>
    <p class="my-10 text-1xl text-center text-myWhite">The SpaceX launches project is a demo for the Astro course</p>
</Layout>


