---

//  ------------------------------------------------------------------
//  ----------  /01/curso-astro-demo/src/pages/index.astro  ----------
//  ------------------------------------------------------------------

import Layout from "@/layouts/Layout.astro";
import Launches from "@/components/Launches.astro";

---

<Layout title="🚀 SpaceX Launches 🚀">

    <h1 class="text-4xl text-center text-myWhite "> Home - 🚀 Ultimos Lanzamientos 🚀 </h1>
    <br /> <br />

    <Launches />

</Layout>

